.section {
    background-color: #131416;
    padding: 48px 0px;
    height: 100%;
    position: relative;
}

.section .section-box {
    background-color: #1c1d24;
    padding: 16px;
    margin-top: 48px;
}

.section .title {
    font-size: 3rem;
    margin: 16px 0px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
    color: #fff;
}

.section .title:after {
    content: "";
    position: absolute;
    width: 48px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
  
.section .summary {
    line-height: 30px;
}

.section .content {
    margin: 24px 24px;
}

@media (max-width: 576px) {
    .section .title {
        font-size: 2rem;
    }

    .section .section-box {
        padding: 6px;
        margin-top: 48px;
    }

    .section .content {
        margin: 24px 8px;
    }
}