.intro {
    height: 100vh;
    background-image: url(./../resources/intro_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
}

.intro .info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.intro .info .name {
    font-size: 4.5rem;
    font-family: Montserrat, Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255);
    margin: 16px;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0%, 100% {
      text-shadow: -2px -2px 1px #0026ff, 2px 2px 1px #fc4646;
    }
    
    25% {
      text-shadow: 2px 2px 1px #0026ff, -2px -2px 1px #fc4646;
    }
    
    50% {
      text-shadow: 2px -2px 1px #0026ff, -2px 2px 1px #fc4646;
    }
    
    75% {
      text-shadow: -2px 2px 1px #0026ff, 2px -2px 1px #fc4646;
    }
    
    100% {
      text-shadow: 2px 2px 1px #0026ff, -2px -2px 1px #fc4646;
    }
}

@media (max-width: 576px) {
    .intro .info .name {
        font-size: 3rem;
    }
}
