.App {
  text-align: center;
  background: #131416;
  color: #b3b3b3;
  box-sizing: content-box;
}

.container, .container-large {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  margin: 24px 24px;
}


*,:after,:before {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }

  .container-large {
    max-width: 960px;
  }
}
